<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" name="username" placeholder="enter username"><br><br>
        <textarea name="content" cols="30" rows="10" placeholder="write your post"></textarea><br>
        <button>Submit</button>
    </form>
</body>
</html>